@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/inherits' as *;

$indent: 30px;

.task{
    @include border-radius(8px);
    width: $width * 2;
    min-width: $min-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border-width solid black;
    background-color: $colorbackground;
    padding: 0 $indent;
    margin: $indent;
    &:hover{
        @extend %hover;
    }
    p:first-child{
        margin-right: auto;
        @include font(26px, serif, 600);
        text: {
            shadow: 2px 2px 2px white;
            decoration: {
                line: overline;
                style: dotted;
            }
        }
    }
    button{
        @include font(20px, Arial, 900);
        @include border-radius(4px);
        margin-left: $indent;
        &:hover{
            @extend %hover;
        }
    }
}