@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;

.menu{
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 5px 10px;
                margin: 0 5px;
                background-color: $colorBackground;
                color: $textColorSecond;
                border: none;
                border-radius: 10px;
                font-size: 1em;
                text-decoration: none;
                &:hover{
                    color: $textColor;
                    background-color: $colorBackgroundHover;
                }
            }
        }
    }
}