$colorBackground: orange;
$colorBackgroundHover: rgb(255, 197, 88);
$colorBackgroundSecond: rgb(112, 91, 50);
$colorBgHoverSecond: rgb(90, 73, 41);
$textColor: white;
$textColorSecond: black;
$textColorHover: rgb(37, 23, 11);